.video-item{
width: 60%;
}
ul{
  display: flex;
}

.video-list{
  width: 40%;

}
h4{
  margin-left: 20px;
  
}
hr{
  width: 80%;
}

.wall{
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
iframe{
  width: 820px;
  height: 450px;
}
.comments{
  flex-direction: column;
  margin-bottom: 30px;
}
.userimg{
  width: 50px;
  height: 50px;
}
.commentsec {
  display: flex;
  justify-content: start;
  align-items: center;
}
.comment{
  margin-left: 20px;
}